<h1><%= @list.name %></h1>
<p><%= link_to "Add a movie to this list", new_list_bookmark %></p>
<ul>
<% @list.movies.each do |movie| %>
  <li><%= movie.title %>, <%= movie.rating %></li>
<% end %>
</ul>
<%= link_to "Go back to other list", lists_path %>
